* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background: #14213d;
	height: 100%;
}

#hand-choice {
	width: 800px;
	height: 250px;
	display: flex;
	justify-content: space-evenly;
}

#hand-choice img {
	width: 250px;
	height: 250px;
}

h2,
h3 {
	color: #e5e5e5;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

#score-header {
	display: flex;
}

#score-header h2 {
	margin: 0 80px 0 80px;
	font-size: 1.8em;
}

#game-log {
	text-align: center;
}
#game-log h3 {
	margin-top: 10px;
	font-size: 1.2em;
}

#game-log h2 {
	font-size: 1.7em;
}

#game-choices {
	width: 510px;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.choices {
	width: 50px;
	height: 50px;
}

#game-choices button {
	padding: .4em;
	border-radius: 50%;
	border: none;
	background: #fca311;
}

#game-choices button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#game-choices button:focus {
	outline: 0;
}
